@import "tailwindcss";
@import "@repo/design-system/styles/globals.css";
@import "@neondatabase/neon-auth-ui/tailwind";
@import "react-quill-new/dist/quill.snow.css";

/* The root element rendered by ReactQuill */
.quill {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* The actual text container */
.ql-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* The scrolling text area */
.ql-editor {
  flex: 1;
  overflow-y: auto;
}

.ql-container.ql-snow{
  border: none;
}